<link
  rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"
/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

<h1>day la view tra ve ket qua search</h1>
<hr />
<div id="may_cai_button">
    <form action="/search/byresult" method="POST" class="tickets_form">
      <div class="d-flex flex-md-row flex-column align-items-start justify-content-md-between justify-content-start">
        
        <div class="tickets_form_inputs d-flex flex-row align-items-start justify-content-between form_search">																													
          <input type="text" name="main_keyword" class="tickets_form_input" placeholder="Từ khóa cần tìm" required="required">														
          <input type="text" name="exclude_keyword" class="tickets_form_input" placeholder="Từ khóa loại bỏ">
        </div>
        <button type="submit" id="bt_search" class="tickets_form_button button"><span>Tìm kiếm tiếp trong các kết quả này</span></button>
        
      </div>
    </form>
  
  <button id="backpage" class="btn btn-danger">
    trở về trang trước
  </button>
  <button id="home" class="btn btn-info">
      <a href="/">
            trang chủ
      </a>
  </button>
</div>

<div id="history">
    có thể là hiện lịch sử... là các nút và bấm vào là hiện kết quả
</div>

<%for(let song of data){%>
<p><%=song._source.song_name%></p>
<hr />
<%}%>

<style>
  #may_cai_button {
    position: fixed;
    top: 20px;
    right: 10%;
  }
  #may_cai_button button {
      outline: none;
  }
  #home a {
      color: white;
  }
  #home a, #home a:hover, #home a:link {
      text-decoration: none;
  }
  #history {
    position: fixed;
    top: 200px;
    right: 10%;
    max-width: 200px;
    width: 200px;
    height: 200px;
    background-color: aqua;
  }
</style>
